@use "../variables" as *;

h1 {
  margin: 0 0 36px;
  font-size: $h1-size;
  font-weight: $h1-weight;
  line-height: 1.15;
  color: $textcolor-1;
}
.notifications-page {
  width: 100%;
  min-height: 100%;
  font-family: $font-family;
}

.notifications-list {
  display: flex;
  flex-direction: column;
}

.notification-item {
  display: flex;
  align-items: flex-start;
  gap: 28px;
  padding: 36px 0 28px;

  &__icon {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    margin-top: 2px;

    img {
      width: 30px;
      height: 30px;
      object-fit: contain;
      display: block;
    }
  }

  &__text {
    border-bottom: 2px solid $secondary;
    padding-bottom: 10px;
    width: 55%;

    h2 {
      margin: 0 0 2px;
      font-size: 32px;
      font-weight: $h2-weight;
      line-height: 1.15;
      color: $textcolor-3;
    }

    p {
      margin: 0;
      font-size: 22px;
      font-weight: $h3-weight;
      line-height: 1.2;
      color: $tertiary;
    }
  }
}
