// Font
$font-family: "Work Sans", sans-serif;

// Typography sizes
$h1-size: 44px; // 44px
$h2-size: 36px; // 36px
$h3-size: 28px; // 28px
$body-size: 16px; // 16px

// Font weights
$h1-weight: 700; // Bold $bold-weight
$h2-weight: 600; // Semibold
$h3-weight: 500; // Medium
$body-weight: 400; // Regular

// Colors (samlet og konsistent)
$primary: #004552;
$secondary: #eae8e7;
$tertiary: #8fb5bf;
$accent-1: #f9dd8f;
$accent-2: #005e6e;

// Ekstra aliases (så dine komponenter ikke fejler)
$primary-color: $primary;
$border-color: $secondary;

// Spacing
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 31px;
$spacing-xl: 48px;
$spacing-xxl: 64px;
